<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .banner {
        background-color: #28a745;
        color: white;
        padding: 15px 0;
        border-radius: 8px 8px 0 0;
        text-align: center;
        font-size: 16px;
      }

      .footer-banner {
        background-color: #28a745;
        color: white;
        padding: 5px 0;
        border-radius: 0 0 8px 8px;
        text-align: center;
        font-size: 12px;
        margin-top: 20px;
      }

      h1 {
        color: #333333;
        font-size: 20px;
        margin: 0;
      }

      p {
        color: #555555;
        text-align: left;
      }

      .verification-code {
        font-size: 14px;
        font-weight: bold;
        color: #007bff;
      }

      .footer {
        margin-top: 20px;
        font-size: 12px;
        color: #888888;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="banner">
        <h1>Password Reset Request</h1>
      </div>
      <p>Dear <%= user %>,</p>
      <p>We received a request to reset your password. Please use the code below to complete the process: <%= code %></p>
      <p>If you didn't request a password reset, you can safely ignore this email.</p>
      <p>Alternatively, you can <a href="<%= link %>" target="_blank" class="verification-code">click here</a> to reset your password.</p>
      <div class="footer">
        <p>Thank you,</p>
      </div>
      <div class="footer-banner">
        <p>&copy; <%= new Date().getFullYear() %> All rights reserved </p>
      </div>
    </div>
  </body>
</html>
